.table{
    color: #ffbc3e;
    border: 1px solid #ffbc3e;
} 
.fruit-row{ 
    color: #8259ff;
    border: 1px solid #ffbc3e;
}
.fruit-row:hover{ 
    border:1px solid #8259ff;
}
.delete-btn{
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
    background-color: #ff5858;
    color: white;
    border: 0;
}
.delete-btn:hover{
    background-color: #ec9687;
    border: 0;
}