.charts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 20px 70px;
}

.section-title{
    padding-left: 70px;
    padding-top: 30px;
    font-size: 40px;
    margin-bottom: -5px;
}

.chart {
    padding: 20px;
    color: white;
    border-radius: 20px;
}

.chart:hover {
    box-shadow: 2px 2px 20px #999;
    transition: 0.5s;
}

.chart button {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #fff;
    color: white;
    padding: 4px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
}

.chart button:hover {
    transition: 0.5s;
    box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.679);
}

.chart:nth-child(1) {
    background: linear-gradient(#ffd78e, #ffbc3e);
}

.chart:nth-child(2) {
    background: linear-gradient(#fa9393, #ff5858);
}

.chart:nth-child(3) {
    background: linear-gradient(#b198fc, #8259ff);
}

@media only screen and (min-width:600px) and (max-width:1000px) {
    .charts {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 30px;
    }
}

@media only screen and (max-width:599px) {
    .charts {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

    .section-title{
        padding-left: 20px;
    }
    
}