.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    gap: 30px;
    margin: 20px auto;
    background-color: #fffbf2;
}

.banner>div{
    width: 50%;
}

.banner .about-img{
    width:50%;
}

.banner>div>img{
    width: 80%;
    margin: 0 auto;
    position: relative;
    background-image: url('../../../images/bucket-bg.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    align-items: center;
}

.banner button{
    width: 150px;
    border: 0;
    padding: 5px;
    background: linear-gradient(#fada9d,#ffbc3e);
    border-radius: 5px;
    color: white;
}

.banner button:hover{
    background: linear-gradient(#af95ff,#8259ff);
    transition: 0.5s;
}

@media only screen and (max-width:700px){
    .banner{
        flex-direction: column;
        padding: 10px 30px;
        gap: 20px;
    }

    .banner .about-img{
        width:100%;
    }

    .banner>div:nth-child(2){
        width: 100%;       
        justify-content: center;
    }

    .banner>div:nth-child(1){
        width: 100%;        
    }
}