.inventoryDeatail-part {
    width: 50%;
    margin: 20px auto;
}

.item-btn{
    background: linear-gradient(#f6d28e ,#ffbc3e);
    padding: 5px 20px;
    border: 0;
    color: white;
}

.quantity-price {
    gap: 20px;
}

.item-btn:hover{
    background-color: #fcd66c;
    transition: 0.5s;
}

@media only screen and (max-width:900px) {
    .inventory-detail {
        flex-direction: column;
        padding: 30px 20px;
    }

    .inventoryDeatail-part {
        width: 95%;
    }

    .basic-info{
        flex-direction: column;
    }

    .quantity-price {
        flex-direction: column;
        gap: 0px;
    }
}