footer {
    background-color: #ffbc3e;
    clip-path: ellipse(150% 100% at 20.85% 100%);
    padding: 50px 50px 20px 50px;
    display: flex;
    gap: 50px;
    margin-top: 30px;
    border-bottom: 1px solid #8259ff;
}

.footer-first {
    display: flex;
    flex-direction: column;
    align-items: top;
    width: 60%;
}

.footer-sec {
    display: flex;
    align-items: top;
    justify-content: space-between;
    width: 40%;
}

.footer-title{
    padding-bottom: 10px;
    color: #8259ff;
}

.footer-title:hover{
    color: white;
    transition: 0.5s;
}

.footer-sec ul li {
    list-style: none;
    display: flex;
    margin-bottom: 5px;
    margin-left: -30px;
    gap: 20px;
}

.footer-sec ul li img {
    width: 30px;
    margin-bottom: 5px;
    border-radius: 50%;
}

footer ul li:hover {
    color: white;
    transition: 0.5s;
}

.social ul li img{
    width: 30px;
    border-radius: 50%;
}

.social ul li{
    list-style: none;
}

.social ul{
    display: flex;
    gap: 10px;
}

@media only screen and (max-width:700px) {
    footer {
        flex-direction: column;
        padding: 10px 30px;
        padding-top: 30px;
        gap: 20px;
    }

    .footer-first, .footer-sec  {
        width: 100%;
    }

    .footer-bottom{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 10px;
    }

    .footer-bottom p{
        order: 2;
    }

    .footer-bottom div{
        order: 1;
    }
}